.navBar__content {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.267);
  font-size: 1.3rem;
  width: 450px;
  padding: 5px;
  height: 70px;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 15px auto;
  justify-content: center;
  gap: 30px;
  position: relative; 
}

.navBar__content p {
  font-size: 1rem;
}

.navBar__logo {
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.navBar__logo h5 {
  margin-left: -10px;
  color: white;
}

.navBar__logo img {
  width: 100px;
  margin-top: -10px;
}

.navBar__lang {
  border-radius: 30px;
  height: 30px;
  position: absolute;
  left: 90vh;
}



@media (max-width:970px){
  
.navBar__lang {
  border-radius: 30px;
  height: 30px;
  position: absolute;
  left: 70vh;
}
}
@media (max-width: 685px) {
  .navBar__lang {
    left: 90%; 
  }
}

@media (max-width: 600px) {
  .navBar__lang {
    left: auto; 
    right: 5px;
    top: 5px; 
  }
}

@media (max-width: 485px) {
  .navBar__content {
    max-width: 90%;
    padding: 10px !important;
  }

  .navBar__content p {
    font-size: 12px;
    font-weight: bold;
  }
}

@media (max-width: 409px) {
  .navBar__content p {
    display: none;
  }
}