@font-face {
  font-family: "Roadmap";
  src: url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
}

.roadmap-container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 40px 20px;
}

.roadmap-title {
  
  color: white;
  font-size: clamp(2rem, 5vw, 3rem); 
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.phase-container {
  position: relative;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}



.phase-dot {
  width: 16px;
  height: 16px;
  background-color: #ffeb6a;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 2;
}

.phase-line {
  position: absolute;
  left: 8px;
  top: 46px;
  width: 2px;
  height: calc(100% + 80px);
  border-left: 2px dashed #ffeb6a;
  z-index: 1;
}

.last-line {
  height: 50px;
}


.phase-content {
  margin-left: 40px;
  padding: 20px;
  border-radius: 10px;
}

.phase-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: normal;
  color: #ffeb6a;
}

.phase-list {
  list-style-type: none;
}

.phase-list li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
  font-size: 1rem;
  line-height: 1.5;
  color: whitesmoke;
}

.phase-list li::before {
  content: "•";
  color: #ff9933;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: -2px;
}

@media (max-width: 768px) {
  .roadmap-title {
    font-size: 3rem;
    text-align: center;
  }

  .phase-content {
    margin-left: 30px;
  }

  .phase-title {
    font-size: 1.5rem;
  }

  .phase-list li {
    font-size: 0.9rem;
  }
}
